@import '../../styles/variables.scss';

.comments__list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.pagination__list {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px auto 20px;
    width: 100px;

    list-style: none;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
    }
}

.pagination__button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $buttonGreen;
    border: none;
    padding: 0;
    box-sizing: border-box;

    cursor: pointer;

    &:hover {
        width: 15px;
        height: 15px;
    }
}

.pagination__buttonActive {
    width: 10px;
    height: 9px;
    border-radius: 50%;
    border: 3px solid $buttonGreen;
    padding: 0;
    box-sizing: content-box;
    background-color: transparent;

    cursor: pointer;
}

@media (min-width: $tablet-width) {
    .commentsList__wrapper {
        height: 400px;
    }
    
    .comments__list {
        height: 370px;
    }

    .pagination__list {
        margin: 5px auto 30px;
    }
    
    .pagination__button{
        width: 12px;
        height: 12px;
    }
    
    .pagination__buttonActive {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: $desktop-width) {
    .comments__list {
        height: 207px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }

    .pagination__list {
        margin: 10px auto 45px;
        width: 120px;

        li {
            width: 20px;
            height: 20px;
        }
    }
    
    .pagination__button{
        width: 15px;
        height: 15px;

        &:hover {
            width: 20px;
            height: 20px;
        }
    }
    
    .pagination__buttonActive {
        width: 15px;
        height: 15px;
    }

    .commentsList__wrapper {
        height: 250px;
    }
}
