@import './variables.scss';
.advantage {
    padding: 0 15%;
    margin-bottom: 42px;
}
.advantage__title {
    color: $textColorBlack;
    margin: 0;
    font-size: 36px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 30px;
}

.advantage__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 20px;
    flex-direction: column;
}

.advantage__item {
    font-family: 'Arial';
    line-height: 18px;
    min-height: 60px;
    padding-left: 80px;
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

    &--first::after {
        background-image: url(../assets/img/icon-leaf.svg);
    }

    &--second::after  {
        background-image: url(../assets/img/icon-tub.svg);
    }

    &--third::after  {
        background-image: url(../assets/img/icon-eat.svg);
    }

    &--fourth::after  {
        background-image: url(../assets/img/icon-alarm.svg);
    }
}

.advantage__item::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;

    background-color: $buttonGreen;
    background-repeat: no-repeat;
    background-position: center;
}

.advantage__index {
    display: none;
}

@media (min-width: $tablet-width) {
    .advantage {
        padding: 0;
        margin-bottom: 50px;
        border-bottom: 1px solid $borderGrayMainPage;
    }
    .advantage__wrapper {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 57px;
    }
    .advantage__title {
        font-size: 60px;
        margin-bottom: 75px;
    }

    .advantage__list {
        gap: 90px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .advantage__item {
        font-size: 16px;
        line-height: 24px;
        width: 40%;
        height: 230px;
        padding: 0;
        display: block;

        padding-top: 115px;
    }

    .advantage__item::after {
        width: 80px;
        height: 80px;
    }

    .advantage__index {
        position: absolute;
        right: 0;
        top: 90px;
        display: block;

        font-family: 'Oswald';
        font-size: 281px;
        color: $buttonGray;

        z-index: -99;
    }
}

@media (min-width: $desktop-width) {
    .advantage {
        border: none;
        margin-bottom: 85px;
    }
    
    .advantage__wrapper {
        width: $desktop-content-width;
        padding-bottom: 0;
    }

    .advantage__item {
        max-width: 245px;
    }

    .advantage__list {
        gap: 0;
    }
}
