@import './variables.scss';

.comments {
    padding: 0 5%;
}

.comments__title {
    color: $textColorBlack;
    margin: 0;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.commentsList__wrapper {
    height: 335px;
}

.comments__list {
    margin: 0;
    list-style: none;
    padding: 0;
    height: 295px;
}

.commentItem {
    border-bottom: 1px solid $borderFooter;
    padding: 15px 0;
    position: relative;

    p:not(.deleteComment__info) {
        margin: 0;
    }
}

.commentItem__delete {
    display: none;
}

.commentItem__deleteActive {
    border: none;
    background-color: transparent;

    position: absolute;
    top: 25px;
    right: 15px;

    cursor: pointer;

    span::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        transform: rotate(45deg);
        background-color: $mainTextColor;
    }

    span::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: $mainTextColor;
    }
}

.deleteComment__wrapper {
    z-index: 1;
}

.deleteComment__body {
    min-height: 50px;
}

.deleteComment__info {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}

.deleteComment__delete,
.deleteComment__cancel {
    height: 30px;
    width: 35%;
    margin-right: 20px;
}

.commentItem:last-child {
    border: none;
}

.commentItem__title {
    color: $textColorBlack;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 55px;
    
    position: relative;
}

.commentItem__title::after {
    position: absolute;
    content: '';

    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background-image: url('../assets/img/icon-profile.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.commentItem__author {
    display: block;
    margin-bottom: 10px;
    padding-left: 55px;
}

.commentItem__body {
    font-family: 'Arial';
    padding-left: 10px;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comments__button {
    width: 60%;
    height: 40px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.addComment__wrapper {
    width: 80%;
}

.addComment__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addComment__submit {
    height: 40px;
    width: 60%;
    margin: 0 auto;
}

.pagination__list {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 10px auto 20px;
    width: 76px;
}

.pagination__button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $buttonGreen;
    border: none;
    padding: 0;
    box-sizing: border-box;
}

.pagination__buttonActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid $buttonGreen;
    padding: 0;
    box-sizing: content-box;
    background-color: transparent;
}

@media (min-width: $tablet-width) {
    .commentsList__wrapper {
        height: 400px;
    }
    
    .comments__list {
        height: 370px;
    }

    .comments__title {
        font-size: 54px;
        margin-bottom: 35px;
    }

    .commentItem {
        padding: 25px 0;
    }
    
    .commentItem__title {
        font-size: 26px;
        padding-left: 65px;
    }
    
    .commentItem__title::after {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }
    
    .commentItem__author {
        margin-bottom: 20px;
        padding-left: 65px;
        font-size: 16px;
        margin-top: 5px;
    }
    
    .commentItem__body {
        font-size: 16px;
    }
    
    .comments__button {
        width: 40%;
        height: 45px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .addComment__wrapper {
        width: 60%;
    }
    
    .addComment__submit {
        width: 40%;
        height: 45px;
        font-size: 18px;
    }

    .pagination__list {
        margin: 5px auto 30px;
        width: 87px;
    }
    
    .pagination__button{
        width: 12px;
        height: 12px;
    }
    
    .pagination__buttonActive {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: $desktop-width) {
    .comments {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .commentsList__wrapper {
        height: 250px;
    }
    
    .comments__list {
        height: 207px;
    }

    .comments__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }

    .commentItem {
        border: none;
        width: 45%;
    }
    .comments__title {
        margin-bottom: 25px;
    }

    .commentItem__title {
        font-size: 24px;
    }

    .pagination__list {
        margin: 10px auto 45px;
        width: 101px;
    }
    
    .pagination__button{
        width: 15px;
        height: 15px;
    }
    
    .pagination__buttonActive {
        width: 15px;
        height: 15px;
    }
}
