@import './variables.scss';

.comments {
    padding: 0 5%;
}

.comments__title {
    color: $textColorBlack;
    margin: 0;
    font-size: 32px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.comments__list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.commentItem {
    border-bottom: 1px solid $borderFooter;
    padding: 15px 0;

    p {
        margin: 0;
    }
}

.commentItem:last-child {
    border: none;
}

.commentItem__title {
    color: $textColorBlack;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 55px;
    
    position: relative;
}

.commentItem__title::after {
    position: absolute;
    content: '';

    top: 0;
    left: 0;

    width: 50px;
    height: 50px;

    background-image: url('../assets/img/icon-profile.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.commentItem__author {
    display: block;
    margin-bottom: 10px;
    padding-left: 55px;
}

.commentItem__body {
    font-family: 'Arial';
    padding-left: 10px;
}

.comments__button {
    width: 60%;
    height: 40px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.addComment__wrapper {
    width: 80%;
}

.addComment__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addComment__submit {
    height: 40px;
    width: 60%;
    margin: 0 auto;
}

@media (min-width: $tablet-width) {
    .comments__title {
        font-size: 54px;
        margin-bottom: 35px;
    }

    .commentItem {
        padding: 25px 0;
    }
    
    .commentItem__title {
        font-size: 26px;
        padding-left: 65px;
    }
    
    .commentItem__title::after {
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
    }
    
    .commentItem__author {
        margin-bottom: 20px;
        padding-left: 65px;
        font-size: 16px;
        margin-top: 5px;
    }
    
    .commentItem__body {
        font-size: 16px;
    }
    
    .comments__button {
        width: 40%;
        height: 45px;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .addComment__wrapper {
        width: 60%;
    }
    
    .addComment__submit {
        width: 40%;
        height: 45px;
        font-size: 18px;
    }
}

@media (min-width: $desktop-width) {
    .comments {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }
    
    .comments__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }

    .commentItem {
        border: none;
        width: 45%;
    }
    .comments__title {
        margin-bottom: 25px;
    }

    .commentItem__title {
        font-size: 24px;
    }
}
