@import './variables.scss';

.page-footer {
    background-color: $backgroundColorGray;
    box-sizing: border-box;
}

.footer-copyright {
    box-sizing: border-box;
    display: flex;
    padding: 20px 15% 14px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    .footer-copyright__info {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Arial';
        color: #444444;
    }
    
    .footer-copyright__logo * {
        fill: $footerMediaIkonColor;
    }
    
}

.footer-copyright:hover {
    .footer-copyright__info {
        color: $buttonGreen;
    }
    .footer-copyright__logo * {
        fill: $buttonGreen;
    }
}

.footer-copyright:active {
    .footer-copyright__info {
        color: $buttonGreen;
        opacity: 0.8;
    }
    .footer-copyright__logo * {
        fill: $buttonGreen;
        opacity: 0.8;
    }
}

@media (min-width: $tablet-width) {
    .page-footer {
        height: 150px;
    }
    .page-footer__wrapper {
        display: flex;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        
        padding: 60px 0;
        box-sizing: border-box;
    }

    .footer-copyright {
        width: 162px;
        height: 34px;
        padding: 0;
    }
}

@media (min-width: $desktop-width) {
    .page-footer {
        height: 150px;
    }
    .page-footer__wrapper {
        width: 1220px;
        
        padding: 60px 0 55px;
    }
}