@import './variables.scss';

.main-nav__item {
    width: 100%;
    height: 65px;
    font-weight: 500;

    background-color: $backgroundColorWhite;

    box-sizing: border-box;
    border-bottom: 1px solid $backgroundColorGray;

    padding: 22px 0;

    a {   
        color: $textColorBlack;
        text-decoration: none;
    }

    a:hover {
        color: rgba($textColorBlack, 0.6);
    }

    a:active {
        color: rgba($textColorBlack, 0.3);
    }
    
}



@media (min-width: $tablet-width) {
    
}

@media (min-width: $desktop-width) {
    
}