@import '../../../styles/variables.scss';

.myBtnGrenn {
    font-family: $font-family-base;
    background-color: $buttonGreen;
    font-weight: 400;
    color: $textColorWhite;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
}

.myBtnGrenn:hover {
    background-color: $buttonGreenHover;
}

.myBtnGrenn:active {
    background-color: $buttonGreenHover;
    color: rgba($textColorWhite, 0.7);
}

.myBtnGray {
    font-family: $font-family-base;
    background-color: $buttonGray;
    color: $textColorBlack;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.myBtnGray:hover {
    background-color: $buttonGrayHover;
}

.myBtnGray:active {
    background-color: $buttonGrayHover;
    color: rgba($textColorBlack, 0.6);
}