@import '../../styles/variables.scss';

.catalogList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: start;

    .catalogItem:nth-child(2n) {
        .catalogItem__img {
            width: 164px;
            height: 110px;
        }
    }

    li {
        height: 209px;
        padding-bottom: 25px;
        border-top: 1px solid $backgroundColorGray;
    }

    margin-bottom: 30px;
    border-bottom: 1px solid $backgroundColorGray;
}

.catalogItem__wrapper {
    display: flex;
    justify-content: space-between;
    height: 144px;
    padding: 20px 0;
}

.catalogItem__img {
    width: 139px;
    height: 92px;
    display: block;
    margin: auto;
}

.catalogItem__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalogItem__title {
    width: 92px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $textColorBlack;
    text-transform: uppercase;
}

.catalogItem__button {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
}

@media (min-width: 380px) {
    .catalogList {
        li {
            padding: 0 10% 25px;
        }
    }
}

@media (min-width: 550px) {
    .catalogList {
        .catalogItem:nth-child(2n) {
            .catalogItem__img {
                width: 169px;
                height: 120px;
            }
        }

        li { 
            height: 230px;
            width: 525px;
            margin: 0 auto;
            padding: 0 0 25px;
        }
    }
    
    .catalogItem__wrapper {
        height: 156px;
    }
    
    .catalogItem__img {
        width: 157px;
        height: 103px;
    }
    
    .catalogItem__title {
        font-size: 20px;
        line-height: 24px;
    } 
}

@media (min-width: $tablet-width) {
    .catalogList {
        min-width: 708px;
        max-width: 895px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 60px;
    
        .catalogItem:nth-child(2n) {
            .catalogItem__img {
                width: 260px;
                height: 198px;
            }
        }

        .catalogItem:nth-child(2n+1) {
            .catalogItem__img {
                top: 32px;
            }
        }

        li { 
            min-width: 324px;
            width: 45%;
            height: 512px;
            margin: 0;
            border-top: none;
        }

        margin-bottom: 30px;
        border-bottom: none;
    }
    
    .catalogItem {
        padding: 0 35px 40px;
        background-image: linear-gradient(180deg, $backgroundColorWhite 87px, $backgroundColorGray 87px);
    }
    
    .catalogItem__wrapper {
        justify-content: center;
        height: 431px;
        padding: 0;

        position: relative;
    }
    
    .catalogItem__img {
        position: absolute;
        top: 0;
        width: 245px;
        height: 166px;
    }
    
    .catalogItem__content{
        height: 155px;
        margin-top: 245px;
        width: auto;
    }
    
    .catalogItem__title {
        font-size: 20px;
        font-weight: 500;
        width: 133px;
        margin: 0 auto;
        text-align: center;
    }    
}

@media (min-width: $desktop-width) {
    .catalogList {
        width: 1220px;
        max-width: 1200px;
        gap: 73px;

        li { 
            min-width: 245px;
            width: 245px;
        }
    }

    .catalogItem {
        padding: 0 40px 40px;
    }
}