@import '../../styles/variables.scss';

.promo {
    background: linear-gradient(180deg,$backgroundColorGreen 62.8%,$backgroundColorWhite 62.4%);
    background-image: url(../../assets/img/index-background-mobile@2x.jpg), linear-gradient(180deg,$backgroundColorGreen 100.8%,$backgroundColorWhite 62.4%);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 309px;
    
    color: $textColorWhite;
}

.promo__wrapper {
    padding: 0 5%;
    background-image: url(../../assets/img/content/index-can-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center 170px;
    background-size: 280px 270px;
    
    text-align: center;
    box-sizing: border-box;
}

.promo__title {
    font-size: 36px;
    margin: 0;
    padding: 30px 0;
    line-height: 36px;
    font-weight: 400;
}

.promo__info {
    text-transform: uppercase;
    margin: 0;
    line-height: 14px;
    margin-bottom: 300px;
}

.promo__button {
    width: 280px;
    height: 40px;

    font-size: 14px;

    margin: 0 auto;
    display: block;

    margin-bottom: 22px;
}

.promo__button_link {
    text-decoration: none;
    color: $textColorWhite;
}

@media (min-width: $tablet-width) {
    .promo {
        background: $backgroundColorWhite;
        color: $textColorBlack;
        width: 90%;
        margin: 0 auto;
    }

    .promo__wrapper {
        padding: 0;
        padding-left: 10%;
        padding-top: 40px;
        text-align: start;
        min-height: 860px;

        background-image: url(../../assets/img/content/index-can-tablet@2x.jpg);

        background-position: center 235px;
        background-size: 709px 609px;
    }

    .promo__title {
        font-size: 60px;
        padding: 0;
        padding-bottom: 45px;
        line-height: 60px;
    }

    .promo__info {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 45px;
    }

    .promo__button {
        width: 245px;
        height: 52px;
    
        font-size: 20px;
        line-height: 20px;
    
        margin: 0;
    }
    
}

@media (min-width: $desktop-width) {
    .promo {
        width: 100%;
        margin: 0;
        position: relative;
        background: transparent;

        margin-bottom: 80px;
    }
    .promo::after {
        position: absolute;
        content: '';
        background-image: url(../../assets/img/index-background-desktop@2x.jpg),linear-gradient(90deg,#fff 50%,#64a83b 50%);
        top: -147px;
        right: 0;
        z-index: -999;
        width: 100%;
        height: 127%;
        background-repeat: no-repeat;
        background-size: 720px 696px,100%;
        background-position: calc(50% + 360px) center,center;
    }

    .promo__wrapper {
       width: $desktop-content-width;
       margin: 0 auto;
       padding: 0;
       min-height: 550px;
       padding: 88px 0 0 80px;

       background-image: url(../../assets/img/content/index-can-desktop@2x.png);
        background-position: 495px 0;
        background-size: 552px 499px;
    }

    .promo__info {
        margin-bottom: 50px;
    }

}
