@import '../../../styles/variables.scss';

.myTextaerea {
    border: 1px solid $inputBorder;
    box-sizing: border-box;
    font-family: $font-family-base;
    color: $mainTextColor;

    font-size: 16px;
    padding: 5px 15px;
}

.myTextaerea:hover:not(.myTextaerea__error)  {
    border: 1px solid $inputBorderHover;
}

.myTextaerea:active  {
    border: 1px solid $inputBorderActive;
}

.myTextaerea__error  {
    border: 1px solid $inputBorderError;
}