@import './styles/variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    
    font-family: $font-family-base;
    font-weight: 400;
    font-size: $fontSizeMobile;
    line-height: 24px;
    color: $mainTextColor;
  
    background-color: $backgroundColorWhite;
}